In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data_online_allocation.csv")

In [3]:
data.head()

   a1  a2  a3  a4   p
0   5   1   3   1   3
1   4   2   3   2  16
2   3   1   2   1   8
3   0   1   2   0   9
4   3   2   3   3  16

In [14]:
m = 4
N = 100
b0, b1, b2, b3 = 125, 130, 118, 137
    
#Construct A (has to be lists within a list)
A = []
for i in range(m):
    A.append(data.iloc[:, i].values.tolist())
        
for i in range(N):
    A.append([0] * i + [1] + [0] * (N - i - 1))

In [24]:
#Construct b (this will be the upper bound limit for your x1,..,x100
b = [b0, b1, b2, b3]
b.extend([1]*N)

In [26]:
#Construct c (this goes into calculating the objective of the LP)
c = data.iloc[:, 4].values.tolist()

## q2

In [28]:
len(A)

104

## q3

In [29]:
import pandas as pd
import numpy
from q2 import q2

#optimal = q2()
#lamda = optimal[1]

data = pd.read_csv("new_data.csv")

In [30]:
data.head()

   a1  a2  a3  a4   p
0   1   2   2   1  10
1   0   2   3   2   5
2   0   1   1   2  15
3   0   0   3   2   2
4   0   3   2   3  12

In [34]:
A = data.iloc[:, :].values
A[0, 4]

10